*{
    margin: 0;
    padding: 0;
}
 

body{
    background: url("https://image.freepik.com/free-vector/blank-landscape-scene-nature-park-sunset-time_1308-66585.jpg") no-repeat;
    background-size: cover;
    display: flex;
  
}

img{
    width: 100px;
}

.project1{
    text-align: center;
}
.score{
    padding: 20px;
    padding-top: 0;
    margin-left: 15px;
    width: 200px;
}

table{
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px 0;
}

td{
    text-align: center;
    width: 70px;
    height: 70px;

}






